* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling and center for the page*/
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* main block section*/
.homeForm {
    background-color: #d3d3d3;
    width: 360px;
    padding: 40px 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* text input */
.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* replace with image of yap logo */
.homeLogo {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.room-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    min-height: 900px;
    height: 80vw;
    max-height: 100vh;
    gap: 10px;
}

.room-container-left{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 30px;
    width: 20vw;
    height: 80vh;
    padding: 20px;
    gap: 10px;
}

.room-container-right{
    background-color: lightgrey;
    border-radius: 30px;
    width: 50vw;
    height: 80vh;
    padding: 20px;
}

.user-list-box{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    scrollbar-color: black;
    scrollbar-width: 10px;
    overflow-x: hidden;
}

.user-item{
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.customize-box{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.customize-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chat-box{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* the labels */
.inputLabel {
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

/* the text inputs in the msg box */
.inputText {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
    outline: none;
}

/* create button */
.buttonCreate {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #bdbdbd;
    color: #222;
    margin-top: 6px;
}

/* join button */
.buttonJoin {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #39ff14;
    color: #222;
    margin-top: 18px;
}
