* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling and center for the page*/
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* main block section*/
.homeForm {
    background-color: #d3d3d3;
    width: 360px;
    padding: 40px 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* text input */
.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* replace with image of yap logo */
.homeLogo {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.room-page-flexbox{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    height: 90vh;
}

.room-code-display{
    height: 5%;
}

.room-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white ;
    width: 100%;
    height: 95%;
    gap: 10px;
}

.room-container-left{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 20%;
    height: 100%;
    padding: 20px;
    gap: 10px;
}

.room-flexbox-right{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgrey;
    width: 80%;
    height: 100%;
    padding: 20px;
    gap: 10px;
}

.user-list{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    scrollbar-color: black;
    scrollbar-width: 10px;
    overflow-x: hidden;
}

/* individual user item in the user list section */
.user-item{
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

/* flexbox of customize button */
.customize-box{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.customize-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* chat box containing messages */
.chat-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-end;
    width: 100%;
    height: 90%;
    padding: 10px;
    gap: 10px;
}

/* individual message boxes in chat */
.chat-item{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    width: fit-content;
    max-width: 45%;
    min-height: 50px;
    height: fit-content;
    overflow-wrap: break-word;
    padding: 15px;
    background-color: green;
}

/* flexbox for both input box and send button */
.chat-input-flexbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    gap: 10px;
}

/* input box for messaging */
.chat-input{
    width: 90%;
    border: none;
    padding: 15px;
    font-size: 15px;
}

/* send button for message */
.chat-send-button{
    min-width: 100px;
    width: 10%;
}

/* the labels */
.inputLabel {
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

/* the text inputs in the msg box */
.inputText {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
    outline: none;
}

/* create button */
.buttonCreate {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #bdbdbd;
    color: #222;
    margin-top: 6px;
}

/* join button */
.buttonJoin {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #39ff14;
    color: #222;
    margin-top: 18px;
}
